body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 248, 228);
}

a:link {
  text-decoration: none;
  color: #42290E;
  font-size: 0.95em;
}

.topo {
  background-color: #5ac722;
  background-image: linear-gradient(to left, transparent, rgba(15, 133, 1));
}

#barra {
  margin-top: -31px;
  float: right;
  padding-right: 8px;
  text-decoration: none;
  color: white;
}


#busca {
  background-color: #ecf5deff;
  border: solid 1px;
  border-radius: 15px;
  border-color: #42290E;
  width: 300px;
}

#txtbusca {
  float: left;
  background-color: transparent;
  padding-left: 8px;
  border: none;
  height: 28px;
  width: 260px;
}

.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid transparent;
  float: left;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid transparent;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: #333;
  color: #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  display: none;
}

/* Estilização do dropdonw*/

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5ac722;
  background-image: linear-gradient(to left, transparent, rgba(15, 133, 1));
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  text-decoration: none;
  color: white;
  background-color: #5ac722;
  background-image: linear-gradient(to left, transparent, rgba(15, 133, 1));
}

footer {
  margin: 0px;
  padding: 10px;
  margin-bottom: -30px;
  background-color: #5ac722;
  background-image: linear-gradient(to left, transparent, rgba(15, 133, 1));
  font-size: 0.9em;
  
}

.footer{
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.post-title {
  text-decoration: none;
  color: #42290E;
  text-align: center;
}

.post-subtitle {
  text-decoration: none;
  color: #42290E;
  text-align: center;
}

h3 {
  text-align: center;
}

.post-preview {
  text-align: center;
}

.texto {
  text-align: center;
}

.container {
  margin: 20px;
  padding-left: 50px;
  margin-left: 8px;
}
.row{
  display :flex;
  align-items:center;
  justify-content: center;
  margin-top: 20px;
}
h3{
  text-decoration: none;
}
h4{
  text-decoration: none;
  color: #5ac722;
  text-align: center;
}
#loginbtn{
  width: auto;
  padding: 10px 18px;
  background-color: rgba(15, 133, 1);
}
#container{
  margin: 20px;
  padding-left: 50px;
  margin-left: 50px;
}
#metodo{
  display :flex;
  align-items:center;
  justify-content: center;
  margin-top: 20px;
  margin-left: -200px;
  background-color: #5ac722;
  background-image: linear-gradient(to left, transparent, rgba(15, 133, 1));
  color: white;
}
#metodo h5{
  margin-left: 150px;
  
}
#metodo h6{
  margin-left: 150px;
  text-align: center;
  
}
